name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Prepare
      env:
        BALENA_USER: ${{ secrets.BALENA_USER }}
        BALENA_PW: ${{ secrets.BALENA_PW }}
      run: ./.github/scripts/prepare.sh
    - name: Run Tests
      run: "cd speed_feed_lib && cargo test --verbose && cd - \
            && cd speed_feed_ookla && cargo test --verbose --features ci && cd - \
            && cd speed_feed_config && cargo test --verbose && cd - \
            && cd speed_feed_printer && cargo test --verbose && cd - \
            && cd speed_feed_scheduler && cargo test --verbose && cd - \
            && cd speed_feed_twitter && cargo test --verbose && cd - "
    - name: Build
      run: cargo build --target=armv7-unknown-linux-gnueabihf --verbose --release
    - name: Deploy
      run: ./balena/balena-cli/balena push speed_feed --source