name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Prepare
      run: ./.github/scripts/prepare.sh
    - name: Run Tests
      run: "cd speed_feed_lib && cargo test --verbose && cd - \
            && cd speed_feed_ookla && cargo test --verbose --features ci && cd -"
    - name: Build
      run: cargo build --verbose
    - name: Deploy
      env:
        BALENA_USER: ${{ secrets.BALENA_USER }}
        BALENA_PW: ${{ secrets.BALENA_PW }}
      run: ./.github/scripts/deploy.sh